.img1,
.img2 {
  width: 120px;
  height: 180px;
}
.img2 {
  display: none;
}
.item:hover > .img2 {
  display: block;
}
.item:hover > .img1 {
  display: none;
}
.hover1:hover > .img1{
  display: none;
}